<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="im.moin.made.sleepwork"
        version="1.0.0">
    <name>sleepWork</name>
    <description>A plugin for Cordova to keep the app working in sleep mode android.</description>
    <license>Apache 2.0</license>
    <author>Moin Uddin</author>
    <keywords>cordova, powermanagement, sleepwork, sleep, mode</keywords>

    <js-module src="www/sleepwork.js" name="sleepWork">
        <clobbers target="cordova.plugins" />
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="sleepWork" >
                <param name="android-package" value="im.moin.made.sleepwork.sleepWork"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <source-file src="src/android/sleepWork.java" target-dir="src/org/apache/cordova/sleepwork" />
    </platform>

</plugin>